<ion-view   id="page7" title="Painel">
    <ion-content class="has-header" padding="true"  >
      <div class="list">
        <button style="width: 100%;" ng-click="notify1()"
                class="button button-large button-clear flat
                         waves-effect waves-button waves-light
                         icon ion-power pull-right text-white">
          Ligar
        </button>
      </div>
      <div class="list">
        <button style="width: 100%;" ng-click="notify()"
                class="button button-large button-clear flat
                         waves-effect waves-button waves-light
                         icon ion-power pull-right text-white">
          Desligar
        </button>
      </div>
   <div id="container"
           style="min-width: 310px;
                  height: 400px;
                  margin: 0 auto">
       </div>



    </ion-content>
</ion-view>
